.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }
.province {
    border: 2px solid;
    border-color: dimgray;
    text-align: center;
}
.province img{
    width: 250px;
    padding: 10px;
}