<div *ngIf="popularTowns" class="outBox">
    <div >
        <div class="">
            <h2 class="titleStyle">Localidades más buscadas</h2>
        </div>
        <div class="outBox d-flex flex-wrap justify-content-around">

            <div *ngFor="let popularTown of popularTowns" class="popularNamesTowns slider  d-flex">
                <div class="slide-track slide">
                    <div class="btnCloud">
                        <div class="card" style="width: 18rem;">
                            <img src="assets/images/popularLocations/{{popularTown.image}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h2 class="card-title">{{popularTown.name}}</h2><!--cambiar el nombre de las propiedades-->
                                <p class="card-text">Las ciudades presentadas estan por orden alfabético y son seleccionadas por nuestros usuarios como las más buscadas 
                                </p>
                            </div>
                        </div>
                        <div class="btnCloud">

                            <a [routerLink]="['/weather/weather-detail/',popularTown.townCode]" class="btn btn-dark btnCloudbtn">Saber el clima</a>
                        </div>

                    </div>
        
                    
                </div>
            </div>
        </div>

    </div>

</div>
<div class=" banner" *ngIf="!isLoggedIn">
    
    
    <app-banner routerLink="/auth/register"></app-banner>
</div>







