body{
    margin: 0px;
    padding: 0px; 
    display: flex;
    flex-direction: column;
}
.titleStyle{
    font-size: 3rem;
    color: #023047;
    text-shadow: 1px 1px 2px rgb(161, 153, 153);
    margin: 30px;
}
.outBox{
    display: flex;
    flex-direction: row;
    margin: 15px;
    color: #023047;

}
.card{
    margin-bottom: 20px;
    border: solid #023047;
    box-shadow: 10px 10px 5px #023047;
}
.card a{
    background-color: #023047;
    color: #fff;
}
.card:hover{
    filter: opacity(75%);
}
.card a:hover{
    background-color: #8ECAE6;
    color: #fff;
    border: #023047;
}

.popularNamesTowns{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.banner{
    margin: 20px;
}
img{

    height: 250px;
    width: 285px;

}