body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
    justify-items: center;
    
   
}
.popularNamesTowns{
    display: flex;
    flex-direction: row;
    color: blueviolet;
}