body{
    margin: 0px;
    padding: 0px; 
    display: flex;
    flex-direction: column;
}
.titleStyle{
    font-size: 3rem;
    margin: 30px;
}
.outBox{
    display: flex;
    flex-direction: row;
    
    color: #023047;

}

.popularNamesTowns{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}