/* .weatherDays{
    
   
    display: flex;
    flex-direction: column;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 30px;
    padding: 50px;
    text-align: center;
    

}
.weatherDaysBox{
    display: flex;
    flex-direction: column;
    
       
    
}
.cardBigBox{
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 20px;
    overflow-x: hidden;
    
    
    
}
.example-cards{
    box-shadow: 5px 5px 5px 5px #8ECAE6;
    border-radius: 30px;
    margin: 10px; 
    color: #fff;
    background-color: #086788;
    
}

.weatherDaysTitle{
    font-size: 3rem;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif; 
    color: #086788;
    text-shadow: #848F46 1px 0 10px;
    margin-bottom: 35px;
    
}
 ul li{
    list-style: none;
}

mat-card-title{
    text-align: center;

} */

/* PRUEBA */
.week-container{
	padding-top: 25px;

}
.weatherDaysTitle{
    position: inline-start;
    color: #086788;
    text-shadow: #848F46 1px 0 10px;
}
.week-list {
	list-style-type: none;
    display: grid;
    grid-auto-flow: column;
	border-radius: 10px;
	padding-top: 25px;
    width: fit-content;
    
}

.week-list>li {
    margin: 1px;
	padding: 15px;
    margin: 1px;
	cursor: pointer;
	transition: 200ms ease;
	border-radius: 10px;
    width: 125px;
    color: #fff;
    background-color: #086788;
    border: solid 1px #219EBC;
}

.week-list>li:hover {
	transform: scale(1.1);
	box-shadow: 0 0 40px -5px #848F46(0, 0, 0, 0.2);
    background-color: #219EBC;
}

.week-list>li.active {
	border-radius: 10px;
}

.week-list>li .day-name {
	display: block;
	margin: 10px 0 0 0;
	text-align: center;
}



.week-list>li .day-temp {
	display: block;
	text-align: center;
	margin: 10px 0 0 0;
	font-weight: 700;
}