
<div class="weatherDays">

  <h2 class="weatherDaysTitle">El tiempo por días</h2>

  <div class="weatherDaysBox">
    <div *ngIf="weather" class="cardBigBox" >
        <mat-card class="example-cards" *ngFor="let day of weather.proximos_dias"  >
          <div class="boxCard">
    
            
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{ day['@attributes'].fecha | date }}</mat-card-title>
            
            <img mat-card-image style="max-width: 50px;" src="../../../assets/images/Iconos/nube.png" alt="" ngClass="iconTRealtime">
    
            <mat-card-content>
              <ul>
                <li>T máxima: {{day.temperatura.maxima}} </li>
                <li>T mínima: {{day.temperatura.minima}} </li>
                <li *ngIf="!checkIsString(day.estado_cielo_descripcion)">Estado del cielo: {{day.estado_cielo_descripcion[1]}} </li>
                <li *ngIf="checkIsString(day.estado_cielo_descripcion)">Estado del cielo: {{day.estado_cielo_descripcion}} </li>
              </ul>
            </mat-card-content>
          </div>
        </mat-card>
    </div>

  </div>
  
</div>