
<!-- <div class="weatherDays">

  <h2 class="weatherDaysTitle">El tiempo por días</h2>

  <div class="weatherDaysBox">
    <div *ngIf="weather" class="cardBigBox" >
        <mat-card class="example-cards" *ngFor="let day of weather.proximos_dias"  >
          <div class="boxCard">
    
            
              
              <mat-card-title>{{ day['@attributes'].fecha | date }}</mat-card-title>
            
    
            <mat-card-content>
              <ul>
                <li>T máxima: {{day.temperatura.maxima}} </li>
                <li>T mínima: {{day.temperatura.minima}} </li>
                <li *ngIf="!checkIsString(day.estado_cielo_descripcion)">Estado del cielo: {{day.estado_cielo_descripcion[1]}} </li>
                <li *ngIf="checkIsString(day.estado_cielo_descripcion)">Estado del cielo: {{day.estado_cielo_descripcion}} </li>
              </ul>
            </mat-card-content>
          </div>
        </mat-card>
    </div>

  </div>
  
</div> -->

<div class="week-container" *ngIf="weather">
  <h2 class="weatherDaysTitle">El tiempo por días</h2>
  <ul class="week-list">
    <li class="active" *ngFor="let day of weather.proximos_dias" >
      <span class="day-name"> {{ day['@attributes'].fecha | date }} </span>
      <span class="day-temp">Máx: {{day.temperatura.maxima}} </span>
      <span class="day-temp">Min: {{day.temperatura.minima}} </span>
      <span *ngIf="!checkIsString(day.estado_cielo_descripcion)"> {{day.estado_cielo_descripcion[1]}} </span>
      <span *ngIf="checkIsString(day.estado_cielo_descripcion)"> {{day.estado_cielo_descripcion}} </span>
      </li>

    <div class="clear"></div>
  </ul>
</div>