.weatherDays{
    
   
    display: flex;
    flex-direction: column;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 30px;
    padding: 50px;
    text-align: center;
    

}
.weatherDaysBox{
    display: flex;
    flex-direction: column;
    
       
    
}
.cardBigBox{
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 20px;
    overflow-x: hidden;
    
    
    
}
.example-cards{
    box-shadow: 5px 5px 5px 5px #8ECAE6;
    border-radius: 30px;
    margin: 10px; 
    color: #fff;
    background-color: #086788;
    
}

.weatherDaysTitle{
    font-size: 3rem;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif; 
    color: #086788;
    text-shadow: #848F46 1px 0 10px;
    margin-bottom: 35px;
    
}
 ul li{
    list-style: none;
}

mat-card-title{
    text-align: center;

}
