
<div class="detailToday" *ngIf="weather">
    <h2>Hoy en {{this.weather.municipio.NOMBRE}}, {{this.weather.municipio.NOMBRE_PROVINCIA}}</h2>
    <div class="TRealtime">
        <h3>{{weather.temperatura_actual}}°C</h3>
        <div>
            <p>Sen.térmica: {{weather.temperatura_actual}}°C</p>
            <div class="MaxandMinT">
                <p>Max: {{weather.temperaturas.max}}°C</p>
                <p>Min: {{weather.temperaturas.min}}°C</p>
            </div>
            <img src="../../../assets/images/provinces/almeria.jpg" alt="">
            
        </div>

    </div>
    <div class="realtimeToday">
        <h4>Estado del cielo</h4>
         <p>{{weather.stateSky.description}}</p> 
        
    </div>
    <div class="descriptionToday">
        <p>Humedad {{weather.humedad}} %</p>
        <p>Viento {{weather.viento}} km/h</p>
        <p>Probabilidad de lluvia {{weather.lluvia}} %</p>
        
    </div>

</div>



<div *ngIf="weather">

</div>
