
<nav class="navbar navBox">
  <div class="container-fluid navBox">
    <div id="head" class="d-flex">

      <a class="navbarBrand">Weather</a><span class="logoLoo">l</span>
      <div>
        <div class="d-flex">
  
          <div class="eye eyeleft"></div>
          <div class="eye"></div>
        </div>
        <div id="smile" class="mouth"></div>
      </div>
        
    </div>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
  </div>
</nav>