<footer>
  <mat-grid-list cols="3" rowHeight="125px">
    <mat-grid-tile rowspan="2">
      
        <div class="menu-footer">
          <h3>Menu</h3>

          <ul>
            <li><a routerLink="/location/popular-location">Inicio</a></li>
            <li><a routerLink="/location/provinces"> Provincias </a></li>
            <li><a routerLink="/users/profile"> Mi perfil </a></li>
            <li><a routerLink="/location/fav-locations"> Favoritos </a></li>
          </ul>
        </div>
      
    </mat-grid-tile>

    <mat-grid-tile rowspan="2">
      <div class="linkAemet">

        <h3>Para mas informacion detallada del clima recomendamos el siguiente link</h3>
        <a routerLink="https://www.aemet.es/es/portada">Aemet</a>

      </div>

    </mat-grid-tile>

    <mat-grid-tile rowspan="2" class="newsletter">
      <h3>Puedes unirte a nuestro newsletter</h3>
      <input type="email">
    </mat-grid-tile>

    <!-- fila que ocupa 3 columnas -->
    <mat-grid-tile colspan="3" rowspan="1">
      <p>Copyright 2023. Carolina de Miguel y Magalí Santiago Freyre</p>
    </mat-grid-tile>

  </mat-grid-list>
</footer>