footer{
    background-color: #023047;
    color: #219EBC;

}
footer a{
    text-decoration: none;
    color: #219EBC;
    
}
.menu-footer h3{
    font-size: 3rem;
    padding: 10px;
    margin: 15px;
}
.menu-footer li {
    list-style: none;
    font-size: 2rem;
    margin: 22px;
}
nav{
    display: flex;
    flex-direction: column;

}
.linkAemet{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*------------------------------------------------------------*/
