footer{
    background-color: #023047;
    color: #219EBC;
    font-family: 'Montserrat', sans-serif;
    color: #fff;

}
a{
    text-decoration: none;
    color: #fff;
    

}
nav a{
    text-decoration: none;
    
    
    
}
footer a:hover{
    color: #fff;
}
.menu-footer{
    margin: 40px;
    padding: 30px;
    background-color: #FFB703;
    border-radius: 30% 30%;
    
}
.menu-footer h3{
    font-size: 2rem;
    padding: 10px;
    margin: 15px;
}
.menu-footer a{
    color: #023047;
    font-weight: bolder;
}
.menu-footer li {
    list-style: none;
    font-size: 1.5rem;
    margin: 22px;
}
nav{
    display: flex;
    flex-direction: column;

}
.linkAemet{
    display: flex;
    flex-direction: column;
    margin: 15px;
    justify-content: center;
}
.footer h3{
    font-family: 'Montserrat', sans-serif;
}
.prop{
    display: flex;
    flex-direction: column;
    
}

input{
    border-radius: 30px;
}
.logo{
    margin: 40px;
    cursor: pointer;
}
/*------------------------------------------------------------*/
