body{
    margin: 20px;
}

mat-grid-list{
    margin: 20px;

}

mat-grid-tile{
    
    border: solid #086788;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;    text-decoration: none;
    background-color: #848F46;
    padding: 25px;
    border-radius: 20% / 40%;
    
}

mat-grid-tile:hover{

    border: solid #848F46;
    background-color: #086788;
}

mat-grid-tile a{
    
    margin: 30px !important;
    text-decoration: none;
    color: #FFF;   
    line-height : 30px;
}
.provinceNameBox label{
    margin: 30px;
}

.provincesBox{
    margin: 30px;
    margin-bottom: 50px;
}

.autonomyFilter h2{
    justify-self: center;
    font-size: 3rem;
    color: #023047;
    text-shadow: 1px 1px 2px rgb(161, 153, 153);
    margin: 30px;
    padding-top: 30px;
}

/* prueba */

mat-accordion{
    margin: 20px;
}
mat-accordion > * {
    margin: 20px;
}
mat-chip-option{
    background-color: #8fd0df !important;
}
mat-chip-option:hover{
    background-color: #219EBC !important;
}

.location-grid {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-rows: 60px;
    grid-template-columns: repeat(auto-fill, 186px);
    overflow-wrap: break-word;
    margin-bottom: 50px;
}

.province{
    border: solid #086788;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;    
    text-decoration: none;
    text-align: center;
    background-color: #848F46;
    padding: 3px;
    border-radius: 10% / 50%;
    overflow-wrap: break-word;
}

.province:hover{
    border: solid #848F46;
    background-color: #086788;
}

.province a{
    text-decoration: none;
    color: #FFF;
    padding: 20px;
    line-height : 25px;
    padding: 10px;
    overflow-wrap: break-word;
}
.banner{
    margin-bottom: 20px;
}