<div *ngIf="autonomy"> 
  <h2> {{autonomy.name}}</h2> 
</div>
<!-- DE MOMENTO SE MUESTRAN TODAS, HAY QUE PAGINAR -->
<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filtrar por autonomía
      </mat-panel-title>
    </mat-expansion-panel-header>
      <mat-chip-listbox>
        <a *ngFor="let autonomy of autonomies" [routerLink]="['/location/provinces', autonomy.autonomyId]">
          <mat-chip-option>
            {{autonomy.name}}
          </mat-chip-option>
        </a>
      </mat-chip-listbox>
  </mat-expansion-panel>
</mat-accordion>

<div class="provincesBox">
  <mat-grid-list cols="4" rowHeight="50px" [gutterSize]="'10px'">
    <mat-grid-tile *ngFor="let province of provinces" > <a [routerLink]="['/location/towns',province.id]">
      {{province.name}}</a> 
    </mat-grid-tile>
  </mat-grid-list>

</div>

<div class=" banner">
    
  <app-banner routerLink="/auth/register"></app-banner>
</div>
