<div>

  <div class="weatherDays">
    <h2 class="weatherDaysTitle">El tiempo por horas </h2>
      <div class="weatherDaysBox"> 
        <div *ngIf="weather" class="cardBigBox" >
            <mat-card class="example-cards" *ngFor="let hour of weather.pronostico.hoy.temperatura; index as i"  >
              <div class="boxCard">
        
                <mat-card-header>
                  
                  <mat-card-title > Hora: {{(currentHour + (i+1) ) % 24}}:00  </mat-card-title>
                </mat-card-header>
        
                <mat-card-content>
                  <ul>
                    <li>Temperatura: {{ hour }} </li>
                    <li>Estado del cielo: {{weather.pronostico.hoy.estado_cielo_descripcion[i] }} </li>
                    <li>Precipitación: {{weather.pronostico.hoy.precipitacion[i] }}% </li>
                  </ul>
                </mat-card-content>
              </div>
            </mat-card>
          </div>
      </div>
    
    
  </div>
</div>