.recomendationOutBox{
    display: flex;
    flex-direction: column;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 30px;
    padding: 40px;
}
.recomendationBox{
    margin: 20px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    
}

li{
    text-decoration: none;
    list-style: none;
}
h2{
    text-align: center;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #023047;

}
h3{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #023047;
}

.recom{
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    text-shadow:#023047 1px 0 15px;
    line-height: 2;
}
