<div class="recomendationOutBox">

    <h2>Tips del día </h2>
    <div class="recomendationBox" >

        <ul *ngIf="recommendationSky.length > 0">
            <h3> ¡Hace sol! Te recomendamos:  </h3>
            <li *ngFor="let recommendation of recommendationSky" class="skyRecom recom"> {{recommendation.description}} </li>
        </ul>
        <ul *ngIf="recommendationRain.length > 0 ">
            <h3> ¡Atento a la lluvia! Estas son nuestras recomendaciones: </h3>
            <li *ngFor="let recommendation of recommendationRain"  class="rainRecom recom "> {{recommendation.description}} </li>
        </ul>
        <ul *ngIf="recommendationTemp.length !== 0">
            <h3>Por la temperatura, te recomendamos:</h3>
            <li *ngFor="let recommendation of recommendationTemp"  class="tempRecom recom"> {{recommendation.description}} </li>
        </ul>
        
        <div *ngIf="alerts.length > 0">
            <h3> Alertas: </h3>
            <ul>
                <li *ngFor="let alert of alerts" class="alerts recom"> {{alert}} </li>
            </ul>
        </div>

        <div *ngIf="recommendationSky.length === 0 && recommendationRain.length === 0 && recommendationTemp.length === 0 " class="recom" >
            <p> {{randomValue}} </p>
        </div>
    </div>
</div>

